dist
### /home/poscar/.gitignore-boilerplates/Global/vim.gitignore

.*.sw[a-z]
*.un~
Session.vim
.netrwhist

### /home/poscar/.gitignore-boilerplates/Haskell.gitignore

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv


